:root{
    --write: white;
    --background: black;
    --menu: #16041f;
    --name1: #8a2be2;
    --name2: #530b75;
    --name3: #9b30ff;
    --name4: #6a5acd;
    --lien: #530b75;
    --contact : #35064b;
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 80vh;
    background-color: var(--background);
    color: var(--write);
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
  }
  
a {
    color: inherit;
    text-decoration: none;
}

.content{
    display: flex;
    height: 100%;
    overflow: hidden;
    z-index: 10;
}

.homePage{
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.homePage-name{
    width: auto;
    height: auto;
    text-transform: uppercase;
    background-image: linear-gradient(
    -225deg,
    var(--name1) 0%,
    var(--name2) 29%,
    var(--name3) 67%,
    var(--name4) 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 300% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  font-size: 5em;
  animation: textclip 4s linear infinite;
  margin: 2%;
  margin-bottom: 10%;
}

.homePage-a{
    width: 20%;
    height: 10%;
    background: none;
    padding: 0;
    margin: 0;
    border: 2px solid var(--lien);
    color: var(--lien);
}

.homePage-a:hover{
    background: var(--lien);
    color: white;
}

.homePage-btn{
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    color: var(--lien);
    width: 100%;
    height: 100%;
    font-size: 1.5em;
}

.homePage-btn:hover{
    background: var(--lien);
    color: white;
}

.transition {
    width: 100%;
    background-color: var(--menu);
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    z-index: 12;
    
}

.active1{
    animation: animerDiv1 1.6s linear;
}

@keyframes animerDiv1 {
    0% {
        height: 0;
    }
    100% {
        height: 100%;
    }
}

.active2{
    animation: animerDiv2 1.6s linear;
}

@keyframes animerDiv2 {
    0% {
        height: 100%;
    }
    100% {
        height: 0;
    }
}

/* HEADER */
.header{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    height: 15%;
    background: var(--menu);
    left: -100%;
}

.name{
    width: 20%;
    height: 100%;
    text-transform: uppercase;
    background-image: linear-gradient(
    -225deg,
    var(--name1) 0%,
    var(--name2) 29%,
    var(--name3) 67%,
    var(--name4) 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 3em;
  animation: textclip 4s linear infinite;
  margin: 2%;
  z-index: 13;
}

@keyframes textclip {
    0% {
      background-position: 100% center;
    }
    50% {
        background-position: 0% center;
    }
    100% {
      background-position: 100% center;
    }
}


.menu{
    width: 80%;
    height: 100%;
    text-align: center;
    line-height: 10vh;
    z-index: 13;
}

  .menu ul{
    list-style-type: none;
    margin: 0px;
    padding: 10px;
  }
  
  .menu li{
    display: inline;
    list-style: none;
    color: var(--write);
    margin: 40px;
    position: relative;
    z-index: 13;
  }

.menu li:not(.optionBtn):before{
    content: "";
    width: 100%;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: #fff;
    transition: 0.5s transform ease;
    transform: scale3d(0,1,1);
    transform-origin: 0 50%;
  }
  .menu li:not(.optionBtn):hover::before{
    transform: scale3d(1,1,1);
  }
  .menu li:not(.optionBtn)::before{
    background: var(--lien);
    transform-origin: 100% 50%;
  }
  .menu li:not(.optionBtn):hover::before{
    transform-origin: 0 50%;
  } 

  .m-apropos::before,
  .m-projets::before,
  .m-competences::before,
  .m-etudes::before,
  .m-contact::before{
    content: "";
    width: 100%;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: var(--lien);
    transform: scale3d(0,1,1);
    transform-origin: 0 50%;
  }
.m-apropos.anime::before,
.m-projets.anime::before,
.m-competences.anime::before,
.m-etudes.anime::before,
.m-contact.anime::before {
    transform: scale3d(1,1,1);
}

.icon{
    width: 2%;
    height: 2%;
}


.title {
    position: relative;
    transition: color .3s ease-in-out, background .3s ease-in-out;
    background-image: linear-gradient(to right, var(--lien) 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
}

.title:hover {
    background-position: 0 0;
}

.btn-menu,
.btn-close{
    display: none;
}

@media screen and (max-width: 480px) {
    body{
        height: 100%;
    }
    .name{
        width: 100%;
        font-size: 2.5em;
    }
    .menu{
        position: absolute;
        opacity: 1;
        transform: translateX(100%);
        transition: all 800ms cubic-bezier(.8, 0, .33, 1);
        position: absolute;
        background: var(--menu);
        height: 100vh;
        width: auto;
        right: 0;
        line-height: 1.5;
        justify-content: center;
        z-index: 20;
    }
    .menu.open{
        transform: translateX(0%);
        opacity: 1;
    }
    .btn-menu{
        display: initial;
        width: 10%;
        height: 10%;
        position: relative;
        cursor: pointer;
        background: none;
        border: none;
        transform: translate(-80%, 140%);
        z-index: 20;
    }
    .line {
        width: 100%;
        height: 1px;
        background-color: white;
        margin-bottom: 8px;
    }
    .btn-menu.open{
        display: none;
    }
    .m-apropos,
    .m-projets,
    .m-competences,
    .m-etudes,
    .m-contact{
        display: flex;
    }
    .btn-close{
        width: 50%;
        height: 100%;
        display: block;
        position: relative;
        border: none;
        background: none;
    }
    .close{
        line-height: 3;
    }
    .cross {
        position: relative;
        width: 40%;
        height: 1.5px;
        background-color: white;
        transition: transform 0.3s ease;
      }
      
      .cross.cross1 {
        transform: rotate(45deg);
      }
      
      .cross.cross2 {
        transform: rotate(-45deg);
      }
      .homePage{
        height: 70vh;
      }
      .homePage-name{
        margin-bottom: 40%;
      }
      .homePage-a{
        width: 70%;
      }
 
}


/* A PROPOS */
.apropos{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 5;
 
}

.CV{
    color: var(--lien);
}

.apropos .text{
    position: relative;
    width: 70%;
    height: 100%;
    margin-left: 5%;
}

.apropos .title{
    display: inline-block;
    margin-bottom: 2%;
}

.text-apropos {
    width: 95%;
    line-height: 150%;
    font-size: 1.2rem;
    margin-left: 5%;
}

.impt-apropos{
    background: var(--lien);
}


/* CANVAS */
.canvas{
    position: absolute;
    right: 5%;
    bottom: 0%;
    z-index: -1;
}


@media screen and (max-width: 480px) {
    .apropos{
        height: auto;
        padding: 0;
        display: flex;
        flex-direction: column;
    }
    .apropos .text{
        margin: 0 5%;
        width: auto;
        height: auto;
        padding: 0;
    }
    .text-apropos{
        margin: 0 5%;
    }
    .canvas{
        bottom: 10%;
        position: relative;
        transform: translate(-50%);
        left: 50%;
        display: none;
    }
}




/* PROJETS */
.projets{
    width: 98%;
    height: 70%;
    position: relative;
    z-index: 5;
    margin: 0 5%;
}

.projets .title{
    display: inline-block;
    margin-bottom: 2%;
}


/*PROJET : PORTFOLIO*/
.portfolio-projet{
    display: flex;
    flex-direction: row;
    line-height: 150%;
    margin-left: 5%;
}

.portfolio-projet-text{
    width: 60%;
    height: 30%;
}

.portfolio-projet-text h3{
    font-size: 1.5rem;
    color: var(--lien);
}

.portfolio-projet-image{
    width: 19vw;
    border: 2px solid var(--lien);
}


/*PROJET : FT-TRANSCENDENCE*/

.ft_transcendance-projet{
    display: flex;
    flex-direction: row;
    line-height: 150%;
    margin-left: 5%;

}

.ft_transcendance-projet-text{
    width: 60%;
    height: 30%;
}

.ft_transcendance-projet-text h3{
    font-size: 1.5rem;
    color: var(--lien);
}

.ft_transcendance-projet-image{
    width: 19vw;
    border: 2px solid var(--lien);
    margin-top: 2%;
    margin-right: 2%;
}


@media screen and (max-width: 480px) {
    .projets{
        margin: 0%;
        height: auto;
    }
    .projets .title{
        margin-left: 5%;
    }
    .portfolio-projet{
        flex-direction: column;
        width: auto;
        height: auto;
        justify-content: center;
        align-items: center;
        padding-bottom: 20%;
        margin: 0 5%;
    }
    .portfolio-projet-text{
        width: 90%;
        margin-bottom: 5%;
    }
    .portfolio-projet-image{
        width: 80%;
    }
    .ft_transcendance-projet{
        flex-direction: column-reverse;
        width: auto;
        height: auto;
        justify-content: center;
        align-items: center;
        padding-bottom: 20%;
        margin: 0 5%;
    }
    .ft_transcendance-projet-text{
        width: 90%;
        margin-bottom: 5%;
    }
    .ft_transcendance-projet-image{
        width: 80%;
    }
}












/* COMPETENCES */

.competences{
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 5;
}

.competences .text{
    position: relative;
    width: 95%;
    margin: 0 5%;
    height: auto;
}

.competences .title{
    display: inline-block;
}

.competences .logo{
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    width: 92%;
    justify-content: space-evenly;
}


@media screen and (max-width: 480px) {
    .competences{
        margin: 0;
        height: auto;
    }
    .competences .text{
        padding: 0;
    } 
    .competences .logo{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .logo1,
    .logo2,
    .logo3,
    .logo4,
    .logo5,
    .logo6,
    .logo7,
    .logo8,
    .logo9{
        margin: 10% 0;
    }
}






/* ETUDES */

.etudes{
    width: 100%;
    height: 50%;
    position: relative;
    z-index: 5;
 
}

.etudes .text2{
    position: relative;
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2%;
}

.etudes .text1{
    position: relative;
    width: 95%;
    margin: 0 5%;
}

.etudes .title{
    display: inline-block;
}



.etudes .school{
  
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

/* SCHOOL 1 */

.etudes .school .school1{
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 70vh;
}

.img-container1{
    width: 18vw;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}

.img-container1:hover{
    transform: rotateY(180deg);
}

.img-school1-1{
    position: absolute;
    width: 18vw;
    height: 30vh;
    backface-visibility: hidden;
}

.img-school1-2{
    position: absolute;
    width: 18vw;
    height: 30vh;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

.school-div1{
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    margin-top: 30vh;
}

/* SCHOOL 2 */

.etudes .school .school2{
    display: flex;
    flex-direction: column;
    width: 18vw;
    height: 70vh;
}

.img-container2{
    width: 18vw;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}

.img-container2:hover{
    transform: rotateY(180deg);
}

.img-school2-1{
    position: absolute;
    width: 18vw;
    height: 30vh;
    backface-visibility: hidden;
    margin-top: 30vh;
}

.img-school2-2{
    position: absolute;
    width: 18vw;
    height: 30vh;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    margin-top: 30vh;
}

.school-div2{
    display: flex;
    flex-direction: column;
    padding-right: 5%
}


/* SCHOOL 3 */
.etudes .school .school3{
    display: flex;
    flex-direction: column;
    width: 18vw;
    height: 70vh;
}

.img-container3{
    width: 18vw;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}

.img-container3:hover{
    transform: rotateY(180deg);
}

.img-school3-1{
    position: absolute;
    width: 18vw;
    height: 30vh;
    backface-visibility: hidden;
}

.img-school3-2{
    position: absolute;
    width: 18vw;
    height: 30vh;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

.school-div3{
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    margin-top: 30vh;
}


@media screen and (max-width: 480px) {
    .etudes{
        height: auto;
    }
    .etudes .text1{
        padding: 0;
        height: auto;
    }
    .etudes .text2{
        padding: 0;
        width: 80%;
        margin: 0 10%;
        height: auto;
    }
    .etudes .title{
        margin-left: 5%;
    }
    .etudes .school{
        flex-direction: column;
        height: auto;
        height: auto;
    }
     .etudes .school .school1{
        flex-direction: row;
        width: auto;
        height: auto;
    }
    .img-container1{
      width: 10vh;
        height: 10vh;
    }
    .img-school1-1{
        width: 10vh;
        height: 10vh;
        margin-top: 50%;
    }
    .img-school1-2{
        width: 10vh;
        height: 10vh;
        margin-top: 50%;
    }
    .school-div1{
        margin: 10% 0;
        height: auto;
        width: 60%;
    }
    .school-title-1{
        margin: 1%;
    }

    .etudes .school .school2{
        flex-direction: row-reverse;
        width: auto;
        height: auto;
    }
    .img-container2{
      width: 10vh;
        height: 10vh;
    }
    .img-school2-1{
        width: 10vh;
        height: 10vh;
        margin-top: 50%;
    }
    .img-school2-2{
        width: 10vh;
        height: 10vh;
        margin-top: 50%;
    }
    .school-div2{
        margin: 10% 0;
        height: auto;
        width: 60%;

    }
    .school-title-2{
        margin: 1%;
    }

    .etudes .school .school3{
        flex-direction: row;
        width: auto;
        height: auto;
    }
    .img-container3{
      width: 10vh;
        height: 10vh;
    }
    .img-school3-1{
        width: 10vh;
        height: 10vh;
        margin-top: 50%;
    }
    .img-school3-2{
        width: 10vh;
        height: 10vh;
        margin-top: 50%;
    }
    .school-div3{
        margin: 10% 0;
        height: auto;
        width: 60%;
    }
    .school-title-3{
        margin: 1%;
    }
}












  /* CONTACT */
.contact{
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 5;
}

.contact .title{
    margin: 1% 5%;
    display: inline-block;
}

.contact .text1{
    position: relative;
    width: 100%;
    
}

.contact .text2{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
}



.contact .text3{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: var(--contact);
    width: 40%;
    height: 80%;
    border-radius: 10%;
    
}

.info{
    color: black;
    font-size: 2em;
    width: auto;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.message{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 70%;
    width: 50%;
    padding-left: 5%;
    border-left: 1px solid black;
}

.message .input{
    background: #400f57;
    border: none;
}


.message .input1{
    height: 10%;  
}

.message .input2{
    height: 10%;
}

.message .input3{
    height: 30%;
    resize: none;
}

.btnSubmit{
    background: var(--lien);
    border: 1px solid black;
    width: 30%;
    height: 10%;
}

.btnSubmit:hover{
    background: #400f57;
}


.message .input3::placeholder {
    text-align: left;
    vertical-align: top;
}

.meRetrouver{
    text-decoration: underline;
}

@media screen and (max-width: 480px) {
    .contact .text2{
        height: 100vh;
    }
    
    .contact .text3{
        width: 90%;
        height: 80%;
        flex-direction: column;
        border-radius: 4%;
    }
    
    .info{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 90%;
    }
    
    .logos{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }

    .message{
        border-left: none;
        border-top: 1px solid black;
        padding: 0;
    }
    
    .btnSubmit{
        width: auto;
    }
}
