html, body{
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif;
  }
  

a {
    color: inherit;
    text-decoration: none;
}

/* HEADER */
.header{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    height: 20vh;
    padding-bottom: 5%;
}

.name{
    width: 20%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 2.5rem;
}

.prenom{
    position: relative;
    height: 50%;
    margin-left: 40%;
    padding: 10px;
    top: 30%;
    background-color: rgba(0, 0, 0, 0);
}

.nom{
    position: relative;
    height: 50%;
    margin-left: 48%;
    bottom: -7%;
    background-color: rgba(0, 0, 0, 0);
}

.menu{
    background-color: black;
    width: 80%;
    text-align: center;
    line-height: 10vh;
}

  .menu ul{
    list-style-type: none;
    overflow: hidden;
    margin: 0px;
    padding: 10px;
  }
  
  .menu li{
    display: inline;
    list-style: none;
    color: aliceblue;
    margin: 40px;
    border-bottom: 2px solid #5941A9;
  }




/* A PROPOS */
.apropos{
    width: 100vw;
    height: 50vh;
    background-color: #7f7997;
    position: relative;
    padding: 50px 0;
    z-index: 5;
    display: flex;
    flex-direction: row;
    color: black;
}

.apropos:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: inherit;
    z-index: -1;
    bottom: 0;
    transform-origin: left bottom;
    transform: skewY(2deg);
  }

.apropos:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: inherit;
    z-index: -1;
    bottom: 0;
    transform-origin: right bottom;
    transform: skewY(2deg);
  }

.apropos .text{
    position: relative;
    width: 60vw;
    padding: 2%;
    background-color: #7f7997;
}

.apropos .title{
    position: relative;
    background-color: #7f7997;
}

/* CANVAS */
.canvas{
    position: relative;
    width: 40vw;
    height: 50vh;
    background-color: #5941A9;
}










/* PROJETS */
.projets{
    padding-top: 10%;
    padding-left: 50px;
    height: 180vh;
    display: flex;
    flex-direction: column;
}

.portfolio-projet{
    padding: 5%;
    display: flex;
    flex-direction: row;
    line-height: 2;
}

.portfolio-projet-text{
    width: 70vw;
}

.portfolio-projet-text h3{
    font-size: 1.5rem;
}

.portfolio-projet-image{
    width: 30vw;
}






.ft_transcendance-projet{
    padding: 5%;
    display: flex;
    flex-direction: row;
    line-height: 2;

}

.ft_transcendance-projet-text{
    width: 70vw;
    padding-left: 1%;
}

.ft_transcendance-projet-text h3{
    font-size: 1.5rem;
}

.ft_transcendance-projet-image{
    width: 30vw;
}




























/* COMPETENCES */
.competences{
    height: 50vh;
    background-color: #7f7997;
    position: relative;
    padding: 50px 0;
    z-index: 5;
    display: flex;
    flex-direction: column;
    color: black;
}

.competences h2{
    background-color: #7f7997;
    padding-left: 2%;
}

.competences:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: inherit;
    z-index: -1;
    bottom: 0;
    transform-origin: left bottom;
    transform: skewY(2deg);
  }

.competences:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: inherit;
    z-index: -1;
    bottom: 0;
    transform-origin: right bottom;
    transform: skewY(2deg);
  }

.competences .logo{
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}







































  /* ETUDES */
.etudes{
    height: 160vh;
    position: relative;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.etudes .text{
    position: relative;
    width: 60vw;
    padding: 2%;

}

.etudes .title{
    align-self: flex-start;
    padding-left: 3%;
}

.etudes .school{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.etudes .school .school1{
    margin-right: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50vw;
    height: 40vh;
    padding-bottom: 5%;
    
}

.img-container1{
    perspective: 1000px;
}

.img-school1-1{
    transition: transform 0.5s ease;
}

.img-school1-2{
    display: none;
    transition: transform 0.5s ease;
    
}

.img-container1:hover .img-school1-1 {
    transform: rotateY(180deg);
}
  
.img-container1:hover .img-school1-2 {
    transition: transform 0.5s ease;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
  }

.etudes .school .school1 .school-text-1{
    padding-left: 5%;
}

.etudes .school .school2{
    margin-left: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50vw;
    height: 40vh;
    padding-bottom: 10%;
}

.etudes .school .school2 .school-text-2{
    padding-right: 5%;
}

.etudes .school .school3{
    margin-right: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50vw;
    height: 40vh;
}

.etudes .school .school3 .school-text-3{
    padding-left: 5%;
}













/* EXPERIENCES */
.experiences{
    height: 50vh;
    background-color: #7f7997;
    position: relative;
    padding: 50px 0;
    z-index: 5;
    display: flex;
    flex-direction: column;
    color: black;
}

.experiences h2{
    background-color: #7f7997;
}

.experiences:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: inherit;
    z-index: -1;
    bottom: 0;
    transform-origin: left bottom;
    transform: skewY(2deg);
  }

.experiences:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: inherit;
    z-index: -1;
    bottom: 0;
    transform-origin: right bottom;
    transform: skewY(2deg);
  }

  /* CONTACT */
.contact{
    height: 80vh;
}